@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
   font-family: "Roboto", sans-serif;
  /* border: 2px solid green; */
}
:root{
  --bg-color : #147FE1; 
  --secound-color :rgb(255, 132, 0);
}
body{
  background-color: white;
}
.navBar{
  position:sticky;
  top: 0;
  width: 100vw;
  height: 6.5em;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  backdrop-filter: blur(20px);
}
#pageLogo{
  width: 5rem;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.2rem;
}
li{

  cursor: pointer;
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
  

}

li:hover{
  color: var(--secound-color);

}

#Signup{
  padding: 10px 20px;
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  background-color: black;
}
#Signup:hover{
  background-color: var(--secound-color);
}

@media screen and (max-width:700px){
    ul{
      font-size: 1rem;
      gap: 20px;
      
    }
    
    .navBar{
      height: 4.5em;
      position: fixed;
      top: 0;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: rgb(255, 255, 255);
      border-radius: 40px;
      width: 85%;
    }

    #Signup{
      display: none;
    }
    #pageLogo{
      display: none;
    }
  
}

#BannerImg{
  width: 100%;
  height: 70vh;
  background: url("https://cdn.dribbble.com/userupload/13118950/file/original-cfaebacb75910a02e08e618b7ab2a067.jpg");
  background-size: cover;
  background-position: center;
  background-color: rebeccapurple;
}


.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap; /* so they stack on small screens */
}

.card {
  flex: 1 1 250px;
  background-color: #ffffff;
  padding: 4rem 0 3rem 0 ;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.card:hover{
  background-color: var(--bg-color);

    .ShoeName{
      color: white;
    }
    .para {
      color: white;
    }
    .buyBtn{
      background-color: white;
      color: black;
    } 
}
#shoe{
  width: 20rem;
  height: 18rem;
}
.ShoeName{
  margin-bottom: -20px;
  font-size: 3rem;
  font-weight: 900;
  font-style: normal;
}
#shoe:hover{
  animation: moves 2s ease-in-out;
}

@keyframes moves {
  0%,50%{
   position: relative;
    top: 0;
  }
  50%{
   position: relative;
    top: -20px;
  }
  
}



.card p {
  height: 10rem;
  font-size: 1rem;
  margin-bottom: 1.2rem;
  margin: 10px 30px 20px 30px;
  font-weight: bold;
  line-height: 1.8rem;
  color: #000000;
}

.buyBtn{
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 999px;
  background-color: #147FE1;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: var(--secound-color);
}
